.toast-container {
    position: fixed;
    z-index: 99999;
    bottom: 58.3px;
    width: 100%;
    -webkit-transition: opacity .8s;
    -moz-transition: opacity .8s;
    transition: opacity .8s;
    opacity: 0;   
 
  }
  
  .toast-container.toast-active {
    opacity: 1
  }
  
  .toast-message-container {
    font-size: 14px;
    border-radius: 5px;
    background-color: #222222;
  
    padding: 5px;
    width: fit-content;
    margin: 5px auto;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5em;
    
  }